<div>
  <h2>Tour de France 2020 highlights</h2>
  <div class="videoWrapper">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/4hzld_tFedg"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <hr />
  <h2>TdF2020 News</h2>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title
        >Sam Bennett and Tadej Pogacar crown it all</mat-card-title
      >
      <mat-card-subtitle
        >September 20 <sup>th</sup> 2020 - 19:28</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src="../../assets/images/tadej-pogacar.jpg"
      alt="Tadej Pogacar - Winner of Tour de France 2020"
      title="Tadej Pogacar - Winner of Tour de France 2020"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
